.back{
    display: inline-block;
    margin: 20px 60px;
    text-decoration: none;
    color: #e61796;
    font-size: 14px;
}

.back:hover{
    text-decoration: underline;
    cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #1f2d3d;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.navbar nav a:hover {
  color: #b89b5e;
}

.about {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 80px 60px;
  gap: 40px;
}

.about-text {
  width: 50%;
}

.small-title {
  color: #e61796;
  font-size: 14px;
  letter-spacing: 2px;
}

.about-text h1 {
  font-size: 48px;
  margin: 20px 0;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  
}

.about-image {
  width: 54%;
  display: flex;
  justify-content: end;
  height: 410px;
  border-top-right-radius: 10px;

  
}

.about-image img {
  width: 100%;
  border-radius: 17px;
  margin-top: -40px;
}
@media (max-width: 900px) {
  .about {
    flex-direction: column;
  }

  .about-text,
  .about-image {
    width: 100%;
  }

  .about-image {
    height: auto;
  }
}

@media (max-width: 600px) {
  .about-text h1 {
    font-size: 32px;
  }
}



.bocs{
    background-color: #eee;
}

.backk {
    font-size: 32px;
    padding: 40px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
   

}

.backk::after{
    border: solid  #bfa46f 1px;
    background-color: #bfa46f;
    content: " ";
    display: block;
    width: 90px;
    height: 2px;
    margin: 15px auto 0;
    


}
.for{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
}

.artisanat {
  padding: 60px 80px;
}

.container {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.image-box img {
  width: 580px;
  height: 420px;
  border-radius: 16px;
  overflow: hidden;
}
.image-box img:hover{
    transform: scale(1.1);
}

.content h2 {
  font-size: 32px;
  margin-bottom: 15px;
  position: relative;
  top: -22px;
}

.content p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 13px;
  color: #161515;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.stat h3 {
  font-size: 26px;
  color: #ff416f;
  margin-bottom: 5px;
}

.stat span {
  font-size: 13px;
  color: #777;
}
.footer {
  background-color: #0f172a;
  color: #cbd5e1;
  padding: 60px 80px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3,
.footer-col h4 {
  color: #ffffff;
  margin-bottom: 15px;
}

.logo {
  font-size: 22px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #facc15;
}

.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #1e293b;
  color: white;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
}

.social-icons a:hover {
  background-color: #facc15;
  color: black;
}

.footer-bottom {
  border-top: 1px solid #334155;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20;
  background-color: #f9f9f9;
        }

.valeurs-section {
  max-width: 1300px;
  margin: 0px auto;
  text-align: center;
}

.valeurs-section h2 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.to{
  font-size: 13px;
  margin-bottom: 50px;
        }

.valeurs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

        }

.valeur {
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
        }

.valeur:hover {
  transform: translateY(-2px);
}

.valeur-icon {
  font-size: 40px;
  margin-bottom: 1px;

   }

.valeur h3 {
   font-size: 20px;
   margin-bottom: 10px;
   color: #333;
}

.valeur p {
   font-size: 14px;
    color: #666;
 }
 @media (max-width: 900px) {
  .valeur {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .valeur {
    width: 100%;
  }
}
.excellence { color: #f7941e; }
.passion { color: #f15b5b; }
.confiance { color: #6c63ff; }
.innovation { color: #ff6f61; }
